<% @reports.each do |report| %>
  <div class="contents row">
    <%= image_tag report.image, class: "content_post" if report.image.attached? %>
      <p><%= report.date %></p>
      <span class="name">
        <%= report.name %>
      </span>
  </div>
<% end %>