<div class="contents row">
  <% @reports.each do |report| %>
    <div class="content_post" style="background-image: url(<%= report.image %>);">
      <p><%= report.text %></p>
      <span class="name">
        <%= report.name %>
      </span>
    </div>
  <% end %>
</div>