<div class="contents row">
  <div class="container">
    <h3>投稿</h3>
    <%= form_with(model: @report, url: reports_path, local: true) do |f| %>
      <%= render partial: "form", locals: { f: f } %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
    <% end %>
  </div>
</div>